/*CSS do RANGE de preço*/
.wrapper{
    position: relative;
    background-color: #ffffff;
    padding: 50px 40px 20px 40px;
    border-radius: 10px;
    border-color: none;
    border: 0px;
}
.container{
    position: relative;
    width: 100%;
    height: 100px;
    border-color: none;
    border: 0px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
    border-color: none;
    border: 0px;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;  
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
.values{
    width: 32%;
    position: relative;
    padding: 10px 0;
    text-align: left;
    font-weight: 500;
}
/*--------------------------------------------*/
.anuncios{
    margin: 3%;
}
.filtros{
    width: 25%;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2%;
}