.mainbox {
    padding: 5vw;
    width: 40%;
    margin: 10% auto auto auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 37px 14px rgba(82, 79, 79, 0.25);
    border-radius: 10px;
    min-height: 650px;
}

input {
    width: 100%;
    background: rgba(196, 196, 196, 0.06);
    border: 1px solid #727272;
    color: #727272;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2vh;
    
}
input:focus {
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    border-color: transparent;
}

select {
    width: 100%;
    background: rgba(196, 196, 196, 0.06);
    border: 1px solid #727272;
    color: #727272;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2vh;
    
}
select:focus {
    text-decoration: none;
    outline: none;
    border-color: transparent;
}
.formmetade {
    display: flex;
    width: 100%;
}
.formmetade div{
    width: 50%;
    margin: 0% 1% 0% 1%;
}
.formuni{
    display: flex;
    width: 100%;
}
.formuni div{
    margin: auto;
}

.sendbutton{
    width: 100%;
    text-align: center;
    background: #BC6C25;
    border-radius: 10px;
    padding: 1vh 2vw 1vh 2vw;
    border: solid transparent;
    color: #fff;
    transition: background 500ms ease 0s;
    font-size: 16px;
}
.sendbutton:hover{
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1vh 2vw 1vh 2vw;
    border: solid transparent;
    color: #BC6C25;
}

.logincad{
    display: flex;
    margin: 10vh auto 10vh auto;
}
.bottomformlogin{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}