.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
    
}
.mytabs label {
    padding: 20px 45px;
    background: #203310;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    box-shadow: -6px -7px 15px 0px rgb(82 79 79 / 25%);
}

.mytabs .tab {
  width: 100%;
  padding: 10%;
  background: #fff;
  order: 1;
  display: none;
  border-radius: 0px 10px 10px 10px;
  background: #FFFFFF;
  box-shadow: 0px 20px 37px 14px rgba(82, 79, 79, 0.25);
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
    
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
    color: #000;
    position: relative;

}